:root{
  --primary: #FBF5F3;
  --secondary: #ffffff;
  --ctr:#FD5200;
  --ctr2: #AF3800;
}

#searchBar{
  padding: .1%;
  min-width: 30%;
  border-radius: 10px;
  border:solid .2px #D3D4D9;
}
#searchBar:hover{
  outline: solid 1px var(--ctr);
  }
#searchBar input{
  width: 85%;
  position: relative;
  border-radius: 20px 0 0px 20px;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
  padding-left: 5%;
}

#searchBar button{
  width: 15%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
#home{
  width: 80vw;
}
a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

#nav{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
#mobileNav{
  display: none;
}
.ul{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-around;

}
li:hover{
  background-color: #D3D4D9;
}
.active{
  font-weight: bold;
  font-size: larger;
}
#button:hover{
  background-color: var(--ctr2);
  color: grey;
}
#grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1%;
}

.nav-item:hover{
  background-color: whitesmoke;
}
.nav .nav-link.active {
  background-color: var(--secondary);
}

.btn-primary{
  background-color: var(--ctr);
}
.btn-primary:hover{
  background-color: var(--ctr2);
}
.nav-link{
  color: var(--ctr2);
}
.card{
  border-radius: 5%;
  background-color: var(--primary); 
}

.btn-group .btn-group-sm{
  background-color: transparent;
  border: none;
}
#col{
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#headimg{
  display: none;
}

@media screen and (max-width:768px) {
  #grid{
    grid-template-columns: repeat(2,1fr);
  }
  #sidebar{
    display: none;
  }
  #headimg{
    display: block;
  }
  #col{
    display: none;
  }
  #home{
    width: 100vw;
  }
  #mobileNav{
    background: var(--primary);
    display: block;
    width: 100%;
    
  }
  #profilebtn{
    display: none;
  }
 
}
@media screen and (max-width:500px) {
  #grid{
    grid-template-columns: repeat(1,1fr);
  }

 
}