:root{
  --primary: #FBF5F3;
  --secondary: #ffffff;
  --ctr:#FD5200;
  --ctr2: #AF3800;
}

#searchBar{
  padding: .1%;
  min-width: 20%;
  border-radius: 10px;
  border:solid .2px #D3D4D9;
}
#searchBar:hover{
  outline: solid 1px var(--ctr);
  }
#searchBar input{
  width: 85%;
  position: relative;
  border-radius: 20px 0 0px 20px;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
  padding-left: 5%;
}

#searchBar button{
  width: 15%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
#home{
  width: 80vw;
}
a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

li{
  color: black;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  list-style: none;
}
li:hover{
  background-color: #D3D4D9;
}
.active{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#button:hover{
  background-color: var(--ctr2);
  color: grey;
}
#grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1%;
}

@media screen and (max-width:768px) {
  #grid{
    grid-template-columns: repeat(2,1fr);
  }
  #sidebar{
    display: none;
  }
  #home{
    width: 100vw;
  }
}
@media screen and (max-width:500px) {
  #grid{
    grid-template-columns: repeat(1,1fr);
  }
}